body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #222831;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
  }
  
  h1 {
    color: #EEEEEE; 
  }

  p {
    color: #EEEEEE; 
    padding-bottom: 20px;
  }

  .bio{
    padding-bottom: 15px;
  }

  .profile-pic {
    border-radius: 200%;
    border: 2px solid #393E46;
    margin-top: 50px;
    width: 200px;  
  }

  a {
    text-decoration: none;

    color: #EEEEEE;
    width: 150px;
    border: 2px solid #EEEEEE;
    padding: 10px 20px;
    transition-duration: 0.4s;
}

a:hover {
    background-color: #393E46; /* Green */
    color: white;
  }

.logos {
    padding-left: 10px;
    transform: translateY(20%);
}